{% extends "Otaku_ody/base.html" %}
{% load static %}
{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
        <title>{% block title %}Otaku Odyssey - Contacto{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="mx-5 mt-4 p-4 bg-dark text-white rounded">
                    <h1 class="display-1">Contactanos!</h1>
                    <h3>Puedes ponerte en contacto con nosotros via Correo electronico para cualquier duda sobre nuestros productos.</h3>
                    <h1>otakuodysseystr@gmail.com</h1>
                    <h4>Tambien puedes enviarnos retroalimentacion sobre nuestra tienda y así poder ofrecerte una mejor experiencia.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="mx-5 mt-5 mb-4 p-4 bg-dark text-white rounded text-center">
                    <h1 class="display-1"> Contamos con:</h1>
                    <a href="https://www.facebook.com/profile.php?id=61558315852897" class="clickable-img">
                        <img class="img-fluid" src="{% static 'img/facebook_logo.png' %}" alt="facebook_logo" style="width:100px;"/>
                    </a>
                    <a href="https://www.instagram.com/otakuodysseystr/" class="clickable-img">
                        <img class="img-fluid" src="{% static 'img/ig_logo.png' %}" alt="instagram" style="width:100px;"/>
                    </a>
                    <a href="https://twitter.com/Otaku_Odyssey" class="clickable-img">
                        <img class="img-fluid" src="{% static 'img/twitter_logo.png' %}" alt="twitter" style="width:100px;"/>
                    </a>
                    <h1>Visítanos en nuestra tienda física!</h1>
                    <p>Ubicada en: Locación ficticia, 1343, Concepción</p>
                    <img class="img-fluid" src="{% static 'img/mapa.png' %}" alt="mapa"> 
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="mx-5 p-4 bg-dark text-white rounded">
                    <a href={% url 'index' %}>
                        <img src="{% static 'img/logo.png' %}" alt="Logo">
                    </a>
                    <div class="d-flex flex-column align-items-end">
                        <a class="nav-link" href={% url 'index' %}>Inicio</a>
                        <a class="nav-link" href={% url 'contacto' %}>Contacto</a>
                        <a class="nav-link" href={% url 'preguntas' %}>Preguntas Frecuentes</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
{% endblock contenido %}