{% extends "Otaku_ody/base.html" %}
{% load static %}
{% block contenido %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% block title %}Otaku Odyssey{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="mx-lg-5 mt-4 mb-4 bg-dark text-white rounded">
                    <h1 class="text-center pt-3 fw-bold">Productos Destacados</h1>
                    <h3 class="text-center pb-3">Algunos de nuestros productos más vistos!</h3>
                    <div class="carousel-container">
                        <div id="carouselExampleControls" class="carousel slide mb-4" data-bs-ride="carousel">
                            <div class="carousel-inner mb-4">
                                {% for p in productos %}
                                <div class="carousel-item mb-5 {% if forloop.first %}active{% endif %}">
                                    {% if p.imagen %}
                                    <img src="{{ p.imagen.url }}" class="d-block w-100" alt="{{ p.nombre }}">
                                    {% endif %}
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ p.nombre }}</h5>
                                        <p>${{ p.valor }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% load humanize  %}
    <div class="container">
        {% for tipo, productos in productos_por_tipo.items %}
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="mx-lg-5 p-4 mb-4 bg-dark text-white rounded">
                    <h2 class="text-center fw-bold">"{{ tipo.nombre }}"</h2>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {% for p in productos %}
                        <div class="col">
                            <div class="card h-100 bg-light text-dark">
                                {% if p.imagen %}
                                <div class="card-img-top-wrapper rounded-top">
                                    <img class="card-img-top" src="{{p.imagen.url}}" alt="Card image">
                                </div>
                                {% endif %}
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h4 class="card-title fw-bold">{{p.nombre}}</h4>
                                    <p class="card-text">${{p.valor | intcomma}}</p>
                                    <div class="mt-auto">
                                        <form action="{% url 'agregar_al_carrito' p.id %}" method="post" class="d-flex flex-column align-items-start">
                                            {% csrf_token %}
                                            <div class="form-group mb-2">
                                                <label for="cantidad" class="form-label">Cantidad:</label>
                                                <input type="number" name="cantidad" id="cantidad" min="1" value="1" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-success btn-sm">Añadir al carrito</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <style>
    .card-img-top-wrapper {
        width: 100%;
        height: 320px; /* Altura fija para todas las imágenes */
        overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card-img-top {
        width: auto;
        height: 100%;
    }
    </style>
    <footer class="bg-dark text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="mx-5 p-4 bg-dark text-white rounded">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img src="{% static 'img/logo.png' %}" alt="logo" style="width:120px;" class="rounded-pill logo-effect">
                        </a>
                        <div class="d-flex flex-column align-items-end mt-3">
                            <a class="footer" href="{% url 'index' %}">Inicio</a>
                            <a class="footer" href="{% url 'contacto' %}">Contacto</a>
                            <a class="footer" href="{% url 'preguntas' %}">Preguntas Frecuentes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
{% endblock contenido %}