{% extends "Otaku_ody/base.html" %}
{% load static %}
{% block contenido %}

<!DOCTYPE html>
<html lang="es">


<body>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="mx-5 mt-4 mb-4 p-4 bg-dark text-white rounded">
                        <h1>Historial de compras</h1>
                        <div id="mensaje-error" class="alert alert-danger" style="display: none;"></div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Fecha</th>
                                            <th>Total</th>
                                            <th>Productos</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tabla-productos">
                                        {% for p in entity %}
                                            {% if p.usuario == request.user %}
                                                <tr>
                                                    <td>{{ p.usuario }}</td>
                                                    <td>{{ p.fecha }}</td>
                                                    <td>{{ p.total }}</td>
                                                    <td>{{ p.productos|join:", " }}</td>
                                                    <td>{{ p.estado }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                            </table>
                        </div>
                        <div>
                            {% include "Otaku_ody/paginator.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-dark text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="mx-5 p-4 bg-dark text-white rounded">
                    <a href={% url 'index' %}>
                        <img src={% static 'img/logo.png' %} alt="Logo">
                    </a>
                    <div class="d-flex flex-column align-items-end">
                        <a class="nav-link" href={% url 'index' %}>Inicio</a>
                        <a class="nav-link" href={% url 'contacto' %}>Contacto</a>
                        <a class="nav-link" href={% url 'preguntas' %}>Preguntas Frecuentes</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
{% endblock contenido %}