{% extends "Otaku_ody/base.html" %}
{% load static %}
{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Otaku Odyssey - Productos{% endblock %}</title>
</head>

<body>
    {% load humanize  %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="mx-lg-5 mt-4 p-5 mb-4 bg-dark text-white rounded">
                        <h1 class="text-center pt-1 fw-bold">Productos</h1>
                        <h3 class="text-center pb-5">Acá puedes ver algunos de nuestros productos!</h3>
                        <form method="get" action="{% url 't_productos' %}" class="d-flex align-items-center mb-3 rounded" style="max-width: 600px;">
                            <label for="tipo" class="form-label me-2" style="font-size: 0.875rem;">Filtrar por Categoria:</label>
                            <select name="tipo" id="tipo" class="form-select form-select-sm me-2" style="width: auto; font-size: 0.875rem;">
                                <option value="">Todos los tipos</option>
                                {% for tipo in tipos_productos %}
                                    <option value="{{ tipo.nombre }}" {% if tipo.nombre == tipo_seleccionado %}selected{% endif %}>{{ tipo.nombre }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
                        </form>
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for p in entity %}
                            <div class="col">
                                <div class="card h-100 bg-light text-dark">
                                    {% if p.imagen %}
                                    <div class="card-img-top-wrapper rounded-top">
                                        <img class="card-img-top" src="{{p.imagen.url}}" alt="Card image">
                                    </div>
                                    {% endif %}
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <h4 class="card-title fw-bold">{{p.nombre}}</h4>
                                        <p class="card-text">${{p.valor | intcomma}}</p>
                                        <div class="mt-auto">
                                            <form action="{% url 'agregar_al_carrito' p.id %}" method="post" class="d-flex flex-column align-items-start">
                                                {% csrf_token %}
                                                <div class="form-group mb-2">
                                                    <label for="cantidad" class="form-label">Cantidad:</label>
                                                    <input type="number" name="cantidad" id="cantidad" min="1" value="1" class="form-control">
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm">Añadir al carrito</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div>
        {% include "Otaku_ody/paginator.html" %}
    </div>
    <style>
    .card-img-top-wrapper {
        width: 100%;
        height: 320px; /* Altura fija para todas las imágenes */
        overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card-img-top {
        width: auto;
        height: 100%;
    }
    </style>
    <footer class="bg-dark text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="mx-5 p-4 bg-dark text-white rounded">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img src="{% static 'img/logo.png' %}" alt="logo" style="width:120px;" class="rounded-pill logo-effect">
                        </a>
                        <div class="d-flex flex-column align-items-end mt-3">
                            <a class="footer" href="{% url 'index' %}">Inicio</a>
                            <a class="footer" href="{% url 'contacto' %}">Contacto</a>
                            <a class="footer" href="{% url 'preguntas' %}">Preguntas Frecuentes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
{% endblock contenido %}
